html{
    font-family: Arial, Helvetica, sans-serif;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#header {
    z-index: 1;
    height: 60px;
    position: relative;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding-bottom: 60px;
}   
#nav {
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 6px;
}
#nav li{
    display: inline-block;
}
#nav>li>a {
    color: black; 
    text-transform: uppercase;
    font-weight: bolder;
}

#nav li a {
    line-height: 50.5px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 0 30px;
}
#nav li a:hover{
    color: #ccc;
}

/* IMG */
#img-section{
    background-image: url("/source/bgg.png");
    display: block;
    position: relative;
    padding-top: 52.1%;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.icon-header{
    width: 185px;
    position: absolute;
    top: -63px;
}
#text-content{
    position: absolute;
    top: 36%;
    width: 100%;
    color: black;
    font-family: 'Orelega One', cursive;
    font-size: 20px;
    text-align: center;
    line-height: 60px;
}
.text--desription{
    font-size: 30px;
    font-style: italic;
    color: bisque;
}
.text--heading{
    font-size: 55px;
    color: #ffcd04ba;
}
.text--heading1{
    font-family: 'Dancing Script', cursive;
    font-size: 88px;
    color: cadetblue;
    font-weight: bolder;
    padding-top: 33px;
}
.text--heading2{
    position: absolute;
    font-size: 25px;
    left: 34%;
    bottom: -155%;
}

/* ABOUT ME */
#row{
    display: flex;
    align-items: center;
    height: 690px;
    background-color: rgba(255, 127, 80, 0.959);
}
.cols-1{
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
}
.cols-2{
    position: relative;
    flex-basis: 60%;
    align-items: center;
    top: -12px;
    left: -69px;
}
.pic-thumb{
    width: 80%;
    position: absolute;
    z-index: 2;
    bottom: -304px;
    left: -20px;
}
.toneround{
    position: absolute;
    top: -320px;
    z-index: 1;
}
.title--about-me{
    display: inline-block;
    font-family: 'Dela Gothic One', cursive;
    color: aliceblue;
    font-size: 50px;
    margin-bottom: 40px;
}
.introme{
    width: 70%;
    font-size: 22px;
    font-family: 'Playfair Display', serif;
    color: darkslategrey;
}
.text-tag{
    color: antiquewhite;
    font-size: 25px;
}
a.school-name{
    text-decoration: none;
}
/* PORFOLIO */
#portfolio{
    height: 1780px;
    background-image: url("/source/bggg.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* CONTACT */
    #contact{
        height: 550px;
        background-color: rgba(255, 127, 80, 0.959);
        position: relative;
    }
    h1.contact-p{
        padding: 4% 4%;
    font-size: 66px;
    width: 7px;
    color: white;
    }
    h1.contact-p:hover{
        color: cornsilk;
    }
    .face-1{
        font-size: 100px;
        color: floralwhite;
        position: absolute;
        top: 20%;
        right: 67%;   
     }
    .github-1{
        font-size: 100px;
        color: floralwhite;
        position: absolute;
        top: 60%;
        right: 67%;   
    }
    .ig-1{
        font-size: 110px;
        color: aliceblue;
        position: absolute;
        top: 20%;
        right: 36%;   
    }
    .mail-1{
        font-size: 100px;
        color: aliceblue;
        position: absolute;
        top: 60%;
        right: 36%;  
    }
    .fb-acc{
     
    top: 29%;
    left: 35%;
    font-size: 33px;

    }
    .ig-acc{
        top: 30%;
    left: 66%;
    font-size: 33px;   
    }
    .mail-acc{
        top: 70%;
        right: 2%;
        font-size: 33px;
    }
    .git-acc{
    font-size: 33px;
    right: 45%;
    top: 70%;
    }
    .abs{
        position: absolute;
    }
    .index-first{
        z-index: 1;
    }
    .title--about-me:hover{
        color: cornsilk;
    }
    .text-tag:hover{
        color: whitesmoke;
    }
    /* ------------------------- */
    .mice-1{
        font-size: 36px;
    color: darkgrey;
    position: absolute;
    top: 90%;
    left: 50%;
    }
    .mice-1:hover{
        color: whitesmoke;
    }
    .mice-2{
        font-size: 36px;
        color: darkgrey;
        position: absolute;
        top: 177%;
        left: 50%;
    }
    .mice-2 :hover{
        color: whitesmoke;
    }
    .mice-3{
        font-size: 36px;
        color: darkgrey;
        position: relative;
        top: 97%;
        left: 50%;
    }
    .mice-3:hover{
        color: whitesmoke;
    }
    #contact h2{
        color: white;
    }
    .pad-1{
        position: absolute;
        font-size: 500px;
        opacity: 0.2;
        top: 6%;
        right: 33%;
        z-index: 0;
        color: bisque;
    }